@using Umbraco.Cms.Web.Common.PublishedModels;
@using umbraco_assignment.Models.ViewModels

@inherits UmbracoViewPage<AboutPageViewModel>


@{
	Layout = "root.cshtml";
}

<div class="header-image">
    <img src="@Model.Content.HeaderImage.Url()" alt="Header Image" class="full-width-image" />
</div>

<div class="about-us-container">
    <!-- Main Headline and Slogan -->
    <div class="text-center mt-5">
        <h1>@Model.Content.Title</h1>
        <p class="slogan">@Model.Content.Slogan</p>
        <hr class="separator" />
    </div>

    <!-- Our Story Section -->
    <section class="row section-padding">
        <div class="col-md-4">
            <h2 class="section-heading">@Model.Content.OurStoryHeader</h2>
            <p class="section-text">@Model.Content.OurStory</p>
        </div>

        <!-- More Information Section -->
        <div class="col-md-4">
            <h2 class="section-heading">@Model.Content.MoreHeader</h2>
            <p class="section-text">@Model.Content.More</p>
            <a href="@Model.Content.ContactLink" class="input-group-text about-button">@Model.Content.ContactButton</a>
        </div>

        <!-- Our Values Section -->
        <div class="col-md-4">
            <h2 class="section-heading">@Model.Content.ValuesHeader</h2>
            <p class="section-text">@Model.Content.OurValues</p>
        </div>
    </section>
</div>