@using Umbraco.Cms.Web.Common.PublishedModels;
@using umbraco_assignment.Models.Interfaces;
@* @using umbraco_assignment.Models.ViewModels *@
@inject IVariationContextAccessor _variation;

@inherits UmbracoViewPage

@{
    Layout = null;

    var title = string.Empty;
    var description = "Default description";

    if (Model is IPageModel model)
    {
        title = model.Content is ISeo seo && !seo.Title.IsNullOrWhiteSpace() ? seo.Title : Model.Name;
        description = model.Content is IMetaData metadata && !metadata.MetaDescription.IsNullOrWhiteSpace() ? metadata.MetaDescription : description;
    }
}

@* <!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <base href="https://getbootstrap.com" />
    <base href="~/">
    <script src="https://getbootstrap.com/docs/5.3/assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Grundläggande meta-taggar -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Länka till CSS eller andra resurser -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- SEO-meta taggar -->
    <meta name="description" content="@Html.Raw(description)" />
    <meta name="title" content="@Html.Raw(title)" />

    <!-- Sidtitel -->
    <title>@Html.Raw(title)</title>
  *@
   

<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <base href="~/">
    <script src="https://getbootstrap.com/docs/5.3/assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Linking stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">

    <title>@Html.Raw(title)</title>

    <link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <!-- Navigation bar -->
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md my-navbar fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">F&K</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                    <form class="d-flex align-items-center" role="search">
                        <div class="d-flex align-items-center">
                            <a class="nav-link active" href="/sv"><i class="fa-solid fa-globe icon-margin"></i> SV</a>
                            <span class="mx-1">|</span>
                            <a class="nav-link active" href="/en">EN</a>
                        </div>
                        <input class="form-control me-2" type="search" placeholder="Sök" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2017–2024 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

    <script src="https://kit.fontawesome.com/b40f711039.js" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
