@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@using umbraco_assignment.Models.PublishedModels
@using umbraco_assignment.Models.ViewModels

@inherits UmbracoViewPage<StartPageViewModel>

@{
	Layout = "root.cshtml";
    var blockGrid = Model.Value<BlockGridModel>("content"/* , fallback: Fallback.ToLanguage */);

}

@if (blockGrid != null && blockGrid.Any())
{
    foreach (var block in blockGrid)
    {
        if (block.Content != null)
        {
            var contentTypeAlias = block.Content.ContentType.Alias;

            switch (contentTypeAlias)
            {
                case "slideshowBlock":
                    @await Html.PartialAsync("SlideshowBlock", block.Content)
                    break;
            }
        }
    }
}

<div class="container my-4 d-flex justify-content-center">
    <p class="text-center lead custom-text">@Model.Content.InfoText</p>
</div>

 <div class="container">
    @await Html.PartialAsync("categorycardPartial") @*flyttade ut HTML till en Partial*@
</div> 




@* <h1>@Html.Raw(Model.Content.Heading)</h1>
<h1>@Html.Raw(Model.Content.Name)</h1>
<h1>@Html.Raw(Model.SettingsPage.Name)</h1> *@


@* <h1>@Html.Raw(Model.Content.Heading)</h1>
<h1>@Html.Raw(Model.Content.Name)</h1>
<h1>@Html.Raw(Model.SettingsPage.Name)</h1> *@


@* <h1>@Html.Raw(Model.Content.Heading)</h1>
<h1>@Html.Raw(Model.Content.Name)</h1>
<h1>@Html.Raw(Model.SettingsPage.Name)</h1> *@


@* <h1>@Html.Raw(Model.Content.Heading)</h1>
<h1>@Html.Raw(Model.Content.Name)</h1>
<h1>@Html.Raw(Model.SettingsPage.Name)</h1> *@

